.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

.icon{
    color: white;
}
.verification-icon {
    color: blue;
}

.send-icon{
    color: green;
}





.loginSignup-btn button{
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    color: white;
    border: 1px solid blue;
    height: 40px;
    width: 100px;
    font-size: 15px;
}

.loginSignup-btn button:hover{
    background-color: rgb(31 29 41);
    color: aqua;
    border: 1px solid blue;
    cursor: pointer;
}

.sidebar-login-btn{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-login-btn p{
    margin: 5px;
    color: white;
}




.options-for-list{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 15px 15px;
    gap: 5px;
}

.following-btn{
    flex: 0.5;
    color: rgb(255, 255, 255, 0.5);
}

.popular-btn{
    flex: 0.5;
    color: rgb(255, 255, 255, 0.5);
}

.active-btn{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.options-for-list button{
    background-color: rgb(31, 29, 41);
    border: none;
    border-radius: 20px;
    height: 40px;
    box-shadow: -2px -3px 11px -8px rgb(200 101 113) inset;
}

.options-for-list button:hover{
    background-color: rgb(37 35 49);
    color: aqua;
    border: none;
    cursor: pointer;
}

.search{
    display: flex;
    margin: 0px 15px 15px 15px;
    height: 40px;
}

.search input{
    background-color: rgb(31 29 41);
    border-radius: 20px;
    color: white;
    flex: 1;
    height: inherit;
    padding-left: 15px;
    box-shadow: -2px -3px 11px -8px rgb(200 101 113) inset;
}

.search input:hover{
    background-color: rgb(37 35 49);
}

.celebrity-list{
    height: 100vh;
    overflow: scroll;
}

.celebrity-list::-webkit-scrollbar {
    display: none;
}

.each-celebrity{
    display: flex;
    align-items: center;
    margin: 0px 15px;
    color: white;
    gap: 10px;
    padding: 8px 5px;
    border-radius: 20px;
}

.each-celebrity:hover{
    background-color: rgb(37 35 49);
    cursor: pointer;
}

.main-msg{
    flex: 1;
}

.last-msg {
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0.7;
}
.last-msg p{
    margin: 0px 15px 0px 5px;
}