.notification-profile-icons{
    display: flex;
    align-items: center;
}

.nav-profile-pic{
    width: 35px;
    border-radius: 50%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    color: gold;
}

.logo img{
    background-color: transparent;
    height: 45px;
}

.chat-now-btn{
    background-color: orangered;
    border-radius: 5px;
    color: yellow;
    font-family: cursive, sans-serif;
    border: 1px solid rgb(152, 152, 53, 0.1);
    height: 40px;
    width: 100px;
    font-size: 18px;
    margin-left: 20px;
    box-shadow: rgb(208 141 174) 3px 3px 6px 0px inset, rgb(53 0 0 / 50%) -3px -3px 6px 1px inset;
}

.chat-now-btn:hover{
    cursor: pointer;
}


.msg-container {
    flex: 1;
    color: white;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.msg-container::-webkit-scrollbar {
    display: none;
}

.all-msg{
    width: 70%;
    display: flex;
    flex-direction: column;
}



/* welcome page starts here */
.welcome-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-page img{
    width: 10%;
}

.welcome-page p{
    margin-top: 10px;
    font-size: 150%;
    color: wheat;
}

.welcome-page span{
    color: rgba(245, 222, 179, 0.8);
}
/* welcome page ends here */






/*own-msg starts from here */
.own-msg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.each-own-msg{
    background-color: green;
    margin: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 20px 0px 30px 20px;
    box-shadow: -5px 5px 7px -3px #000000;
}

.msg-time{
    display: flex;
    justify-content: end;
}

.msg-time p{
    opacity: 0.5;
}
/*own-msg ends from here */


/*others-msg starts from here */
.profile-img-and-msg{
    display: flex;
}

.msg-profile-img img{
    width: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
}

.each-others-msg{
    background-color: rgb(84, 85, 85);
    margin: 5px;
    width: 50%;
    padding: 10px;
    border-radius: 0px 20px 20px 30px;
    box-shadow: 5px 5px 10px -3px #000000;
}
/*others-msg ends from here */


/* MsgContainerFan starts from here */
.msg-and-info-container{
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-pic{
    width: 60px;
    border-radius: 50%;
}

.msg-container-user{
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 5px;
    align-items: center;
    background-color: rgb(37 35 49);
    border-radius: 40px;
    padding: 5px 10px;
    box-shadow: -5px 5px 15px -4px #000000;
}

.channel-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.username{
    opacity: 0.5;
}

.follow-bnt{
    padding-right: 10px;
}
/* MsgContainerFan ends from here */


/* MsgContainerCelebrity starts from here */
.msg-typing-box{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: rgb(31 29 41);
    padding: 0px 10px 0px 5px;
    border-radius: 30px;
    height: 50px;
}

.msg-typing-box input{
    flex: 1;
    height: 100%;
    color: white;
}
/* MsgContainerCelebrity ends from here */