.notification-profile-icons{
    display: flex;
}

.msg-container {
    flex: 1;
    color: white;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.msg-container::-webkit-scrollbar {
    display: none;
}

.all-msg{
    width: 70%;
    display: flex;
    flex-direction: column;
}




/*own-msg starts from here */
.own-msg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.each-own-msg{
    background-color: green;
    margin: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 20px 0px 30px 20px;
}

.msg-time{
    display: flex;
    justify-content: end;
}

.msg-time p{
    opacity: 0.5;
}
/*own-msg ends from here */


/*others-msg starts from here */
.profile-img-and-msg{
    display: flex;
}

.msg-profile-img img{
    width: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
}

.each-others-msg{
    background-color: rgb(84, 85, 85);
    margin: 5px;
    width: 50%;
    padding: 10px;
    border-radius: 0px 20px 20px 30px;
}
/*others-msg ends from here */


/* MsgContainerFan starts from here */
.msg-and-info-container{
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-pic{
    width: 60px;
    border-radius: 50%;
}

.msg-container-user{
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 5px;
    align-items: center;
    background-color: rgb(37 35 49);
    border-radius: 40px;
    padding: 5px 10px;
}

.channel-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.followers{
    opacity: 0.5;
}

.follow-bnt{
    padding-right: 10px;
}
/* MsgContainerFan ends from here */


/* MsgContainerCelebrity starts from here */
.msg-typing-box{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: rgb(31 29 41);
    padding: 0px 10px 0px 5px;
    border-radius: 30px;
    height: 50px;
}

.msg-typing-box input{
    flex: 1;
    height: 100%;
    color: white;
}
/* MsgContainerCelebrity ends from here */